* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: red;
  background-image: linear-gradient(-45deg,
    #2906ac,
    #0ec19c);
  color: #ffffff;
  height: 70px;
  overflow: hidden;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  fo
}

header h1 {
  font-size: 2em;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header #branding {
  float: left;
  padding: 20px 0;
}


header nav {
  float: right;
  padding: 27px 0;

}

header .highlight, header .current a {
  color: white;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
}

#home {
  background-image: url('../img/my_pic.JPG');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}


.containerA{
  width: 80%;
  margin: auto;
  border-radius: 7px;
  overflow: hidden;
  padding: 20px;
  font-size: 3.5rem;

}



#home .containerA h1 {
  color: rgb(250, 250, 250);
  text-shadow: 1px 1px 2px black, 0 0 75px blue, 0 0 25px darkblue;
  text-transform: uppercase;

}

section#about {
  background-image: linear-gradient(#000, #1f1738);
  height: 60vh;
}

.column {
  float: left;
  width: 33.33%;
  height: 100%;
}

.row {
  height: 100%;
  padding-top: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card1 {
  background-image: url('../img/harreatBandStand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card2 {
  background-image: url('../img/wittman.webdesigns.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h3{
  padding: 20px 0;
  text-shadow: 2px 2px 5px #980000;
  font-size: 1.6em;


}

  .flip-card-back p{
    padding: 13px;
    text-shadow: 2px 2px 5px #980000;
    font-size: 1em;
  }


section#contact {
  background-image: linear-gradient(#1f1738, #000);
  height: 100%;
  padding: 25px 0;
}

section h2 {
  font-size: 3em;
  color: rgb(250, 250, 250);
  text-shadow: 1px 1px 2px black, 0 0 75px blue, 0 0 25px darkblue;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  padding: 25px 0;
}

form {
  color: white;
  text-shadow: 2px 2px 5px #980000;
 margin-top: 25px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  background-color: #151856;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #151856;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff0000;
  border: 1px solid #000;
  box-sizing: border-box;
}

.container2 {
  border-radius: 5px;
  background-image: linear-gradient(#000, #553da0);
  padding: 10px;
  max-width: 600px;
  margin: 10px auto;
  border: ridge 0.4em #230ca0;
  box-shadow: 0px 5px 30px rgba(255, 0, 0, 0.87);
}

::placeholder {
  color: #000;
  opacity: 1;
}

footer {
  width: 100%;
  text-align: center;
  height: 60px;
  background-image: linear-gradient(-45deg, #0ec19c, #2906ac);
}

footer p {
  padding: 20px 0;
  color: #fcfcfc;
}

@media (max-width: 950px) {
  .containerA h1{
   font-size: 1.2em;
   margin: auto;
 }
}
@media(max-width: 750px) {

  header #branding,
  header nav,
  header nav li, {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  header {
    padding-bottom: 15px;
  }

   .containerA h1{
    font-size: 1em;
    margin: auto;
  }
  .containerA{
    width: 100%;
  }

  .column {
    width: 100%;
  }
}

@media (max-width:550px) {
.containerA h1{
  font-size: 0.8em;
  margin: auto;
}
}
@media (max-width: 400px) {
  .containerA h1{
    font-size: 0.5em;
    margin: auto;
  }
}
